<launch>
  <arg name="model" default="$(find robot2_description)/urdf/robot2.xacro"/>
  <arg name="gui" default="false"/>
  <arg name="rvizconfig" default="$(find robot2_description)/config/urdf.rviz"/>

  <param command="xacro '$(find robot2_description)/urdf/robot2.xacro'" name="robot_description"/>

  <param name="use_gui" value="$(arg gui)"/>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

  <node name="rviz" pkg="rviz" args="-d $(arg rvizconfig)" type="rviz" required="true"/>
</launch>
